<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- /////////////////////// -->
    <add key="additional_include" value=""/>
    <add key="conditional_tag" value="HDC_HD_FHI | HDC_HD_MAZDA | HDC_HD_ADASISV2 | HDC_HD_ADASISV3 | HDC_HD_CES"/>
    <add key="disable_warning" value="4566"/>
    <add key="showExceptionTrace" value="false" />
    <add key="file_open_filter" value="Gherkin feature(.feature)|*.feature|Header File(*.h)|*.h|C++ File(*.cpp)|*.cpp|C# File(*.cs)|*.cs|Text File(*.txt)|*.txt|All Files (*.*)|*.*"/>
    <add key="showCreateHighlightingFilesButton" value="true" />
  </appSettings>
</configuration>