<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- /////////////////////// -->
    <add key="additional_include" value="" />
    <add key="conditional_tag" value="" />
    <add key="disable_warning" value="4566" />
    <add key="showExceptionTrace" value="false" />
    <add key="file_open_filter" value="Gherkin feature(*.feature)|*.feature|C++ File(*.h;*.cpp;*.cxx)|*.h;*.cpp;*.cxx|C# File(*.cs)|*.cs|Text File(*.txt)|*.txt|XML File(*.xml;*xaml)|*.xml;*xaml|All Files (*.*)|*.*" />
    <!-- maxium recent files to displayed in recent files submenu -->
    <add key="max_recent_files_for_submenu" value="20" />
    <add key="max_recent_files_for_backup" value="100" />
    <add key="showCreateHighlightingFilesButton" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>