<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- /////////////////////// -->
    <add key="additional_include" value=""/>
    <add key="conditional_tag" value=""/>
    <add key="disable_warning" value="4566"/>
    <add key="showExceptionTrace" value="false" />
    <add key="file_open_filter" value="Gherkin feature(.feature)|*.feature|Header File(*.h)|*.h|C++ File(*.cpp)|*.cpp|C# File(*.cs)|*.cs|Text File(*.txt)|*.txt|All Files (*.*)|*.*"/>
    <!-- maxium recent files to displayed in recent files submenu -->
    <add key="max_recent_files_for_submenu" value="20"/>
    <add key="max_recent_files_for_backup" value="100"/>
    <add key="showCreateHighlightingFilesButton" value="false" />
  </appSettings>
</configuration>