*.dll
*.pdb
bin/
obj/
GherkinParser/Gherkin.Specs/obj/
GherkinParser/Gherkin.AstTester/obj/
GherkinParser/Gherkin/bin/
GherkinParser/Gherkin.AstTester/bin/
GherkinParser/Gherkin.Specs/bin/
GherkinParser/Gherkin/obj/
GherkinParser/bin/
GherkinEditor/obj/
BetterWpfControls/bin/
BetterWpfControls/obj/
BetterWpfControls.Demo/bin/
BetterWpfControls.Demo/obj/
MvvmDialogs/obj/
ICSharpCode.AvalonEdit/obj/
GherkinEditor/bin/
MvvmDialogs/bin/
ICSharpCode.AvalonEdit/bin/
.vs/GherkinEditor/v14/.suo
